@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #1E3B80, #784EB9); /* Diagonal gradient */

    /* overflow: hidden; */
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #474747;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
}

::-webkit-slider-thumb {
    height: 1em;
    width: 1em;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
